<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/header.css" />
    <link rel="stylesheet" href="../../public/css/user/userManage.css" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<%- include('../header') -%>
    <body>
        <div class="wrap">
            <div class="container">
                <% for(let i=0; i<users.length; i++){%>
                <div class="user-card">
                    <ul class="userInfo-list">
                        <li><strong>이름:</strong> <%= users[i].username %></li>
                        <li><strong>부서:</strong> <%= users[i].department %></li>
                        <li><strong>직책:</strong> <%= users[i].role %></li>
                        <li><strong>이메일:</strong> <%= users[i].email %></li>
                        <li><strong>권한:</strong> <%= users[i].right %></li>
                    </ul>
                    <div class="btn-list">
                        <button id="delete-user-btn" class="btn" value="<%=users[i].employeeNumber%>" type="button">추방</button>
                        <button id="edit-right-btn" class="btn edit-right-btn" value="<%=users[i].employeeNumber%>" type="button">권한수정</button>
                        <button id="reset-password-btn" class="btn" value="<%=users[i].employeeNumber%>" type="button">password 초기화</button>
                    </div>
                </div>
            <%}%>
            </div>
        </div>
<!-------------------------------------------- 권한수정 팝업 --------------------------->
        <div class="background">
          <div class="window">
            <div class="popup">
              <h2>권한 수정</h3>
              <h3 id="popup-employeeNumber">3311445668</h3>
              <div id="check-right">
                <span>열람</span><input type="checkbox" value="open" name="right" id="open">
                <span>등록</span><input type="checkbox" value="register" name="right" id="register">
                <span>편집</span><input type="checkbox" value="edit" name="right" id="edit">
                <span>대여</span><input type="checkbox" value="rent" name="right" id="rent">
              </div>
              <div class="poup-btns">
                <button id="register-rigth">수정</button>
                <button id="close">팝업닫기</button>
              </div>
            </div>
          </div>
        </div>
        <script src="../../public/js/user/userManage.js"></script>
    </body>

</html>